<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Before Show</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style-css.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
  <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="http://sebastiendelbeportfolio.alwaysdata.net/BeforeShow/index.html">Accueil</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="http://sebastiendelbeportfolio.alwaysdata.net/BeforeShow/ListConference.html">Liste des conférences</a>
        </li>
      </ul>
    </nav>
    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container my-auto">
        <h1 class="mb-1  text-center ">Nouvelle conférence</h1>
        <h3 class="mb-5  text-center ">
          <em>Dans cette rubrique veuillez entrer les différentes informations de votre conference.</em>
        </h3>
    </div>
    </header>

        <div class="width:50%" >
          <form>
              <div class="col-lg-8">
                    <div class="form-group">
                      <div>
                        <label for="name" >Nom de la conference :</label>
                        <input class="form-control" type="text" placeholder="Entrer le nom" name="name" id="name">
                      </div>

                     <div>
                      <label for="date">La date :</label>
                      <input class="form-control" type="datetime-local" name="date" id="date">
                      </div>
                     <div>
                      <label for="time">La durée :</label>
                      <input class="form-control" type="time" name="time" id="time">
                    </div>
                    <div class="form-group">
                      <label for="description">Description :</label>
                      <textarea class="form-control" rows="10" name="description" id="description"></textarea>
                    </div>
              </div>
            </div>

            <div class="form-group">
              <input type="button" value="Enregistrer" id="submit">

            </div>

          </form>

          <button type="button" value="retour" id="retour" >Retour</button>
        </div>



  </body>

</html>

<script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Plugin JavaScript -->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Custom scripts for this template -->
        <script src="js/stylish-portfolio.min.js"></script>

<script type="text/javascript">
  var url = window.location.href;
  var id = url.split("?");

  $('#submit').on('click', function(){
    var nameConf = document.getElementById("name").value;
    var dateConf = document.getElementById("date").value;
    var timeConf = document.getElementById("time").value;
    var descriConf = document.getElementById("description").value;
    if(nameConf.length !=0 && dateConf.length != 0 && timeConf.length != 0 && descriConf.length !=0 ){
      var request = $.ajax({
          type: 'POST',
          url: "http://sebastiendelbeportfolio.alwaysdata.net/conference/"+id[1],
          data: {
            name: nameConf,
            date: dateConf,
            time: timeConf,
            description: descriConf
          }
        });
      request.done(function() {
            alert("Conférence Créée !");
          });
      request.fail(function(errormessage){
            alert(errormessage.responseText);
          });
    }
    else{
      alert("veuillez remplir les champs !");
    }
  });

  $('#retour').on('click', function(){
    document.location.href="ListConference.html";
  });
</script>