<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Before Show</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style-css.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container my-auto">
        <h1 class="mb-1  text-center ">Nouveau lieu</h1>
        <h3 class="mb-5  text-center ">
          <em>Dans cette rubrique veuillez entrer les différentes informations de votre lieu.</em>
        </h3>
      </div>
    </header>
        <div class="width:50%" >
          <form>
              <div class="col-lg-8">
                    <div class="form-group">
                      <div>
                        <label for="name" >Nom du lieu :</label>
                        <input class="form-control" type="text" placeholder="Entrer le nom" name="name" id="name">
                      </div>

                     <div>
                      <label for="address">Adresse :</label>
                      <input class="form-control" type="text" placeholder="Enter l'adress"  name="address" id="address">
                      </div>
                     <div>
                      <label for="city">Ville :</label>
                      <input class="form-control" type="text" placeholder="Enter la ville"  name="city" id="city">
                    </div>
                    <div class="form-group">
                      <label for="cityCode">Code postal :</label>
                      <input class="form-control" type="number" maxlength="5" name="cityCode" id="cityCode" pattern="[0-9]{5}" />
                    </div>
              </div>
            </div>

            <div class="form-group">
              <input type="button" value="Enregistrer" id="submit">

            </div>

          </form>
           <button type="button" value="retour" id="retour" >Retour</button>
        </div>



  </body>

</html>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<script src="js/stylish-portfolio.min.js"></script>

<script type="text/javascript">

  var url = window.location.href;
  var id = url.split("?");

   $('#submit').on('click', function(){
    var nameLieu = document.getElementById("name").value;
    var addressLieu = document.getElementById("address").value;
    var cityLieu = document.getElementById("city").value;
    var cpLieu = document.getElementById("cityCode").value;
    if (cpLieu.length <=5 && cpLieu.length>=0) {
     if(nameLieu.length !=0 && addressLieu.length != 0 && cityLieu.length != 0 && cpLieu.length !=0 ){
        $.ajax({
          type: 'POST',
          url: "http://sebastiendelbeportfolio.alwaysdata.net/locate/"+id[1],
          data: {
            name: nameLieu,
            address: addressLieu,
            city: cityLieu,
            cityCode: cpLieu
          },
          success: function(data) {
            document.location.href="ConfDetail.html?"+id[1];
          },
          error: function(errormessage){
            alert(errormessage.responseText);
          }
        });
      }else{
         alert("veuillez remplir les champs !");
      }
    }else{
      alert("je ne connais pas de code postal comme celui là");
    }
  });
   $('#retour').on('click', function(){
    document.location.href="ConfDetail.html?"+id[1];
  });
</script>