<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Before Show</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Menu1</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Menu2</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">Menu3</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">Menu4</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container my-auto">
        <h1 class="mb-1  text-center ">Nouvelle conférence</h1>
        <h3 class="mb-5  text-center ">
          <em>Dans cette rubrique veuillez entrer les différentes informations de votre conference.</em>
        </h3>

        <div class="width:50%" >
          <form  action="http://localhost:8080/conference/" method="post">
              <div class="col-lg-8">
                    <div class="form-group">
                      <div>
                        <label for="nameConf" >Nom de la conference :</label>
                        <input class="form-control" type="text" placeholder="Entrer le nom" name="nameConf" id="nameConf">
                      </div>
                     <div>
                      <label for="localConf">Adresse :</label>
                      <input class="form-control" type="text" placeholder="Entrer l'adresse du la conférence"  name="localConf" id="localConf">
                      </div>

                      <div>
                         <label for="codeCity">Le code postal :</label>
                         <input class="form-control" type="text" placeholder="Code postal"  name="codeCity" id="codeCity">
                      </div>

                       <div>
                          <label for="cityConf">Ville :</label>
                          <input class="form-control" type="text" placeholder="Ville"  name="cityConf" id="cityConf">
                      </div>

                     <div>
                      <label for="dateConf">La date :</label>
                      <input class="form-control" type="date" name="dateConf" id="dateConf">
                      </div>
                     <div>
                      <label for="timeConf">Heure de début :</label>
                      <input class="form-control" type="time" name="timeConf" id="timeConf">
                    </div>
                    <div class="form-group">
                      <label for="descConf">Description :</label>
                      <textarea class="form-control" rows="10" name="descConf" id="descConf"></textarea>
                    </div>
              </div>
            </div>
           
            <div class="form-group">
              <input type="submit" value="Enregistrer">
           
            </div>

          </form>

          <button onclick="window.location.href='index.html" >Retour</button>
        </div>
      </div>
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/stylish-portfolio.min.js"></script>

  </body>

</html>
