<!DOCTYPE html>
<html lang="en">

  <head>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
  
        <title>Before Show</title>
  
        <!-- Bootstrap Core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
        <!-- Custom Fonts -->
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  
        <!-- Custom CSS -->
        <link href="css/style-css.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container my-auto">
        <h1 class="mb-1  text-center ">Tâche</h1>
        <h3 class="mb-5  text-center ">
          <em>Dans cette rubrique veuillez entrer les différentes informations de votre tâche.</em>
        </h3>
      </div>
    </header>
    <!-- Navigation -->

    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Menu1</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Menu2</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">Menu3</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">Menu4</a>
        </li>
      </ul>
    </nav>

      <div class="width:50%" >
          <form>
              <div class="col-lg-8">
                    <div class="form-group">
                      <div>
                        <label for="title">Titre de la tâche</label>
                        <input class="form-control" type="text" name="title" id="tilte">
                      </div>
                      <div>
                        <label for="duration">Durée de la tâche :  </label>
                        <input class="form-control" type="time" name="duration" id="duration">
                    </div>
                   </div>
            </div>

            <div class="form-group">
              <input type="button" value="Enregistrer" id="submit">
              <input type="button" value="étape suivante" id="go">
            </div>

          </form>
           <button type="button" value="retour" id="retour" >Retour</button>
        </div>
<br/>
<hr/>
        <h3> Liste des tâches ajoutées</h3>
      <div class="width:50%"  id="madivdelist">
          <table class="table table-striped" >
            <thead>
              <tr>
                <th>Titre</th>
                <th>Durée</th>            
                <th></th>
              </tr>
            </thead>
            <tbody id="listTask">

            </tbody>
          </table>
        </div>
  </body>

</html>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for this template -->
<script src="js/stylish-portfolio.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  alert("Lieu créé ! Maintenant les tâches ! ");
});
$(#'go')..on('click', function(){
  document.location.href="CreateGuestList.html";
});



  $('#submit').on('click', function(){
    var tilteTask = document.getElementById("tilte").value;
    var durationTask = document.getElementById("duration").value;

     if(durationTask.length !=0 && tilteTask.length != 0 ){
        $.ajax({
          type: 'POST',
          url: "http://sebastiendelbeportfolio.alwaysdata.net/task/",
          data: {
            title: tilteTask,
            duration: durationTask
          },
          success: function(data) {
            
          },
          error: function(errormessage){
            alert(errormessage.responseText);
          }
        });
        FindLastConf();
      }else{
         alert("veuillez remplir les champs !");
      }
  });

function FindLastConf(){
  $.ajax({
      type: "GET",
      url: "http://sebastiendelbeportfolio.alwaysdata.net/conference/lastConf",
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function( result){
        RefreshDiv($(result).id);
        }
      },
      error: function (errormessage) {
          alert(errormessage.responseText);
      }
  });
};

function RefreshDiv(idLastconf){
  $.ajax({
      type: "GET",
      url: "http://sebastiendelbeportfolio.alwaysdata.net/task/getAllTaskForConference/"+idLastconf,
      contentType: "application/json; charset=utf-8",
      dataType: "json",
    success: function( result){
        $(result).each(function (index, m){
          var ligne = $("<tr> </tr>");
            ligne.append($("<td>" + m.title + "</td>"));
            ligne.append($("<td>" + m.duration + "</td>"));
            ligne.append($("<td> <input type=\"button\" value=\"Supprimer\" onClick=\"DeleteTask("+m.id+")\"> </td>"));
            $('#listTask').append(ligne);
            $('#madivdelist').html(retour);
          });
      },
      error: function (errormessage) {
          alert(errormessage.responseText);
      }
    });
  
};

function DeleteTask(idtask){
  $.ajax({
      type: "DELETE",
       url: "http://sebastiendelbeportfolio.alwaysdata.net/task/deleteTaskById/"+idtask,
      contentType: "application/json; charset=utf-8",
      dataType: "json",
    success: function( result){
      alert("Tâche supprimée !");
      window.location.reload(true);
      },
      error: function (errormessage) {
          alert(errormessage.responseText);
      }
  });
};
</script>