<!DOCTYPE html>
<html lang="en">

  <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Before Show</title>

      <!-- Bootstrap Core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="css/style-css.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container my-auto">
        <h1 class="mb-1  text-center ">Nouvel Invité</h1>
        <h3 class="mb-5  text-center ">
          <em>Dans cette rubrique veuillez entrer les différentes informations de vos invités.</em>
        </h3>
      </div>
    </header>

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Menu1</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Menu2</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">Menu3</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">Menu4</a>
        </li>
      </ul>
    </nav>

        <div class="width:50%" >
          <form>
              <div class="col-lg-8">
                    <div class="form-group">
                      <div>
                        <label for="lname">Nom de l'invité</label>
                        <input class="form-control" type="text" name="lname" id="lname">
                      </div>
                      <div>
                        <label for="fname">Prénom :  </label>
                        <input class="form-control" type="text" name="fname" id="fname">
                    </div>
                    <div>
                        <label for="email">Email :  </label>
                        <input class="form-control" type="email" name="email" id="email">
                    </div>
                   </div>
            </div>

            <div class="form-group">
              <input type="button" value="Enregistrer" id="submit">

            </div>

          </form>
           <button type="button" value="retour" id="retour">Retour</button>
        </div>
      <br/>
      <hr/>
        <h3> Liste des invités ajoutées</h3>
      <div class="width:50%"  id="madivdelist">
          <table class="table table-striped" >
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th> 
                <th>Email</th>           
                <th></th>
              </tr>
            </thead>
            <tbody id="listGuest">

            </tbody>
          </table>
        </div>

  </body>

</html>

<script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/stylish-portfolio.min.js"></script>


<script type="text/javascript">
$(document).ready(function(){
  alert("Taches créés! Maintenant les invités ! ");
});

  $('#submit').on('click', function(){
    var fnameG = document.getElementById("fname").value;
    var lnameG = document.getElementById("lname").value;
    var emailG = document.getElementById("email").value;

     if(emailG.length !=0 && lnameG.length != 0 &&  fnameG.length!= 0){
        $.ajax({
          type: 'POST',
          url: "http://sebastiendelbeportfolio.alwaysdata.net/guest/",
          data: {
            fname: fnameG,
            lname: lnameG,
            email: emailG
          },
          success: function(data) {

          },
          error: function(errormessage){
            alert(errormessage.responseText);
          }
        });
        FindLastConf();
      }else{
         alert("veuillez remplir les champs !");
      }
  });

function FindLastConf(){
  $.ajax({
      type: "GET",
       url: "http://sebastiendelbeportfolio.alwaysdata.net/conference/lastConf",
      contentType: "application/json; charset=utf-8",
      dataType: "json",
    success: function( result){
        $(result).each(function (index, m){
         RefreshDiv(m.id);
        });
      },
      error: function (errormessage) {
          alert(errormessage.responseText);
      }
  });
};

function RefreshDiv(idLastconf){
  $.ajax({
      type: "GET",
      url: "http://sebastiendelbeportfolio.alwaysdata.net/guest/getAllGuest/"+idLastconf,
      contentType: "application/json; charset=utf-8",
      dataType: "json",
    success: function( result){
        $(result).each(function (index, m){
          var ligne = $("<tr> </tr>");
            ligne.append($("<td>" + m.lname + "</td>"));
            ligne.append($("<td>" + m.fname + "</td>"));
            ligne.append($("<td>" + m.email + "</td>"));
            ligne.append($("<td> <input type=\"button\" value=\"Supprimer\" onClick=\"DeleteTask("+m.id+")\"> </td>"));
            $('#listGuest').append(ligne);
            $('#madivdelist').html(retour);
          });
      },
      error: function (errormessage) {
          alert(errormessage.responseText);
      }
    });
  
};

function DeleteTask(idguest){
  $.ajax({
      type: "DELETE",
       url: "http://sebastiendelbeportfolio.alwaysdata.net/guest/deleteGuest/"+idguest,
      contentType: "application/json; charset=utf-8",
      dataType: "json",
    success: function( result){
      alert("Tâche supprimée !");
      window.location.reload(true);
      },
      error: function (errormessage) {
          alert(errormessage.responseText);
      }
  });
};
</script>