<!DOCTYPE html>
<html lang="en">

  <head>

    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>Before Show</title>

      <!-- Bootstrap Core CSS -->
      <link href="bootstrap.min.css" rel="stylesheet">

      <!-- Custom Fonts -->
      <link href="font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
      <link href="simple-line-icons.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="style-css.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Menu1</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Menu2</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#about">Menu3</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#services">Menu4</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container my-auto">
        <h1 class="mb-1  text-center ">Nouvel Invité</h1>
        <h3 class="mb-5  text-center ">
          <em>Dans cette rubrique veuillez entrer les différentes informations de vos invités.</em>
        </h3>

        <div class="width:50%" >
          <form  action="http://localhost:8080/guest/" method="post">
              <div class="col-lg-8">
                    <div class="form-group">
                      <div>
                        <label for="lname">Nom de l'invité :</label>
                        <input class="form-control" type="text" placeholder="Enter le nom" name="lname" id="lname">
                      </div>
                     <div>
                      <label for="fname">Prénom :</label>
                      <input class="form-control" type="text" placeholder="Enter le prénom"  name="fname" id="fname">
                      </div>
                     <div>
                      <label for="email">Adresse mail : </label>
                      <input class="form-control" type="text" name="email" id="email" placeholder="Enter une adresse mail">
                      </div>
                     <div>

                    <div class="form-group">
                      <input type="submit" value="Enregistrer">
                      <a href="index.html"><button>Retour</button>
                    </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </header>


        <!-- Bootstrap core JavaScript -->
        <script src="jquery.min.js"></script>
        <script src="bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="stylish-portfolio.min.js"></script>


  </body>

</html>
